name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - '**.md'
      - 'LICENSE'

permissions: read-all

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up Python
      uses: actions/setup-python@master
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: pip install tox poetry
    - name: Safety Check
      run: tox -e safety
    - name: License Check
      run: tox -e liccheck
    - name: Code style check
      run: |
        tox -e black
    - name: Static type check
      run: tox -e mypy
    - name: Coverage Check
      run: tox -e coverage

  unit-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
        django-version: ["4.0", "4.1", "4.2"]

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: pip install tox poetry
    - name: Unit tests and coverage
      run: |
        tox -e py${{ matrix.python-version }}-dj${{ matrix.django-version }}
